/**************
* @package WordPress
* @subpackage Cuckoothemes
* @since Cuckoothemes 1.0
* URL http://cuckoothemes.com
**************
*
** Name : Font settings
*/
/*------- BebasNeue Font --*/

@font-face {
	font-family: 'BebasNeue';
	src: url('../admin/font/bebasneue-webfont.eot');
    src: url('../admin/font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../admin/font/bebasneue-webfont.woff') format('woff'),
         url('../admin/font/bebasneue-webfont.ttf') format('truetype'),
         url('../admin/font/bebasneue-webfont.svg#BebasNeue') format('svg');
	font-weight: normal;
    font-style: normal;
}