/* IE (8-9 versions) */
/* ----------------------------------------- */

.work-info , .blog-thumb-hover{ background: black; opacity: 0.8; filter:alpha(opacity=80); -khtml-opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; }
	/* header */
	div#theme_logo .shadow { right:0; }
	/*
	header.main-header { width:960px; margin:0 auto; position:relative; }
	div#header_content { width:960px; position:relative; margin: 0 auto; text-align: center; top:0; left:0; }
	*/
	div#theme_logo { float:left; }
	div#nav_wrap {  width:960px; position:fixed; z-index: 5; } 
	div#header_nav { float: right; right: -84px; max-width:735px; }
	.nav_start  { display:table-cell; }
	.nav_end  { display:table-cell; }
	.nav-first-menu  { display:none; }
	#header_nav nav { max-width: 649px; padding: 18px 0 0; }
	/* another headers */
	.item-header { z-index:20; }
	.works-header { padding:88px 0 175px; }
	.portfolio-header { padding:88px 0 80px; }
	
	/* Nivo */
/*	#sliderWrappe { top:-88px; } */
	.main-slider { width:100%; height:auto; } 
	.ever-like-display { margin-top: 80px; }
	.nivo-prevNav { left:0px; }
	.nivo-nextNav { right:0px; }
	.title-container { width:960px; }
	.slide-title { font-size:100px; }
	
	/* Social media */
	.social-media-page { margin-right: -39px; }
	.social-block-page { width:96%; }
	
	/* Portfolio */
	.portfolio-item-470 { width:470px; height:225px; }
	.fade-item-470 {  width:470px; height:225px; }
	
	/* Works */
	#work-gallery { width:960px; }
	.slideshow-content { height:475px; min-height:475px; max-height:475px; }
	#work-slides img { height:475px; min-height:475px; max-height:475px; }
	#work-video { width:960px; }
	#video-content { height:475px; }
	
	.screen-large { width:960px; }
	.screen-large-portfolio { width:980px; }
	.screen-large-blog { width:980px; }
	
	/* Content */
	#content-main { width:960px; }
	#item-description { width:960px; }
	#content-main img , #content-main a img, .page-content a img, .page-content img  { max-width: 960px; width: expression(this.width > 960 ? 960: true); height: auto; }
	
	/* Columns */
	.content-one-half { width: 470px; }
	.content-one-third { width: 305px; }
	.content-two-third { width: 635px; }
	.content-one-fourth { width: 225px; }
	.content-three-fourth { width: 715px; }	
	.content-one-half img, .content-one-half  a img ,.content-one-half  a.btn-short  { max-width: 470px!important; }
	.content-one-third img, .content-one-third a img , .content-one-third  a.btn-short { max-width: 305px!important; }
	.content-two-third img, .content-two-third a img  , .content-two-third  a.btn-short { max-width: 635px!important; }
	.content-one-fourth  img, .content-one-fourth a  img , .content-one-fourth  a.btn-short { max-width: 225px!important; }
	.content-three-fourth img, .content-three-fourth a img , .content-three-fourth  a.btn-short { max-width: 715px!important; }
	
	/* Paswords */
	#main-container.work-template  #password-item { margin: -155px auto 40px; }
	
	/* Footer */
	.footer-text { width: 88.666%; }  