.cuckoo-love {
	background: url(../images/no-count-love.png) no-repeat 0 49%;
	background-size: 21px 18px;
	border: 0 !important;
	display: inline-block;
	min-height: 14px;
	padding-left: 25px;
	text-decoration: none;
	color:black;
}
a.cuckoo-love { 
	color:black!important; 
	text-decoration:none!important;
}
.cuckoo-love:hover,
.cuckoo-love.active {
	background: url(../images/active-love.png) no-repeat 0 49%;
	background-size: 21px 18px;
	border: 0 !important;
	padding-left: 25px !important;
	text-decoration: none;
}
.cuckoo-love.active { cursor:default; }

/* Retina Display */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){ 

.cuckoo-love  { background: url(../images/no-count-love@2x.png) no-repeat 0 0; }

.cuckoo-love:hover,
.cuckoo-love.active { background: url(../images/active-love@2x.png) no-repeat 0 -18px; }
}