/**************
 * @package WordPress
 * @subpackage Cuckoothemes
 * @since Cuckoothemes 1.0
 * URL http://cuckoothemes.com
 **************/
 
/* Woocommerce css */
 
#content-woo { margin:0 auto; }
.cuckoo-single-element { padding-top:40px; }
.cuckoo-not-single-element { padding-top:25px; }
#path-and-buy, #pagination-woo { width:100%;  background:#EBEBEB; position: relative; }
.container-woo-path, .pagination-container { padding:15px 0; margin: 0 auto; position: relative; z-index: 1; }
.container-woo-path .woocommerce-breadcrumb {  margin: 0; display: inline-block; color:black; }
.woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a { }
.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {  color: inherit!important; font-size: inherit!important; margin: inherit!important; }
.container-woo-path:after { clear:both; }
p.woocommerce-result-count { margin:0 20px 0 10px!important; }
.container-woo-path .woocommerce-breadcrumb a, .cart-accuont a { text-decoration:none; }
.container-woo-path .woocommerce-breadcrumb a:hover, .cart-accuont a:hover { text-decoration:underline; }
.cart-accuont { float:right; display:inline-block;  position: relative; top: -1px; }
.total-cart { display:inline-block; }
.cart-show  { background:url( ../img/basket.png ) no-repeat; width:30px; height:30px; background-size:30px 30px; display:inline-block; vertical-align: middle; margin-top: -4px; }
.pagination-content { text-align:center; }
.pagination-content .disabled.prev , .pagination-content  a.prev.page-numbers{ float:left; margin:0; }
.pagination-content .disabled.next , .pagination-content  a.next.page-numbers{ float:right; margin:0; }
.pagination-content  a, #tab-description a { text-decoration:none; }
.pagination-content  a:hover, #tab-description a:hover { text-decoration:underline; }
.pagination-content  a.page-numbers, .pagination-content .page-numbers.current { margin:0 4px; }
div.product div.images img, #content div.product div.images img, ul.products li.product a img, ul.products li.product a:hover img { box-shadow:none!important; }
div.link-message-after { display:block; margin-bottom:30px; }
ul.products li.product a div.star-rating, ul.products li.product a.added_to_cart{ display:none!important; }

/* Products */
section#main-container article#content-main[role="main"] ul.products, .page article#content-main[role="main"] ul.products { width:980px; left:-10px; position: relative; }
div.single_variation_wrap div.single_variation p.stock  { color:inherit!important; }
ul.products li.product, .related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product , .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{ width:225px!important; margin: 0 10px 30px!important; }
ul.products li.product h3 { color: #4D4C4C; padding: 0.5em 0 0; }
.woocommerce_ordering, #content-woo form.woocommerce-ordering { margin: 0 10px 20px 0; }
.woocommerce_ordering .orderby, #content-woo form.woocommerce-ordering .orderby { width:225px; }
ul.products li.product .price ins , div.product p.price ins{ text-decoration: none; }
ul.products li.product a mark  { background:transparent; color: inherit; }
#main-container div ul.products li.product a:hover, .page #content-main div ul.products li.product a:hover { text-decoration:none; }
a.button.alt:hover, button.button.alt:hover, input.button.alt:hover, #respond input#submit.alt:hover, #content input.button.alt:hover,
ul.products li.product a.add_to_cart_button:hover , a.button:hover , button.button:hover , input.button:hover , #respond input#submit:hover , #content input.button:hover , button.single_add_to_cart_button.button:hover { text-shadow: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; -o-transition: all 0.2s linear; }
ul.products li.product a.add_to_cart_button, a.button, button.button, input.button, #respond input#submit, #content input.button, button.single_add_to_cart_button.button ,
a.button.alt, button.button.alt, input.button.alt, #respond input#submit.alt, #content input.button.alt, .shipping_calculator h2 a.shipping-calculator-button, div.summary form.cart .single_add_to_cart_button.button.alt,
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, #tab-reviews div#reviews div#comments p.add_review a.show_review_form, #pp_full_res #respond form#commentform  div.respond-position p.form-submit input#submit,
 li.product a.button.product_type_variable, div.coupon input.button, tr td.actions input.button, tr td.actions input.checkout-button.button, section.shipping-calculator-form  button.button, #payment div.form-row input#place_order, p.form-row.form-row-last input.button, #content-woo div.woocommerce-message a.button,
form p input.button[name=change_password], form p input.button[name=save_address], form p input.button[name=login], form p input.button[name=reset], #content-main div.woocommerce p a.button, #content-woo .woocommerce-error li a.button,
#content-woo ul.products li.product a.button, article.woo-cuckoo-homepage div.woocommerce ul.products li.product a.button, div.products ul.products li.product a.button,
#main-container div ul.products li.product a.button, .page #content-main div ul.products li.product a.button {    
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;
    background: none repeat scroll 0 0 #4F4F4F;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 0 none;
	border-top: 0 none;
	border-bottom: 0 none;
	border-radius: 0;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12);
    height: 40px;
    text-align: center;
    width: 225px;
	color: #FFFFFF!important;
    display: table-cell;
    padding: 7px;
    text-decoration: none!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
	position:relative;}
form p input.button[name=change_password], form p input.button[name=save_address], form p input.button[name=login], form p input.button[name=reset]  { margin-top:30px; }
form.variations_form.cart table.variations { width:100%; }
form.variations_form.cart table.variations td.value select#color  { width:50%; margin-right:5%; }
form.variations_form.cart table.variations td.value a.reset_variations  { width:44%; }
#tab-reviews div#reviews div#comments p.add_review { margin-top:30px; }
button.single_add_to_cart_button.button:hover { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
a.button.added:before, button.button.added:before, input.button.added:before, #respond input#submit.added:before, #content input.button.added:before { bottom: 12px;  right: 15px!important; top: auto!important; background:url(../img/success.png) no-repeat!important; }
a.button.loading:before, button.button.loading:before, input.button.loading:before, #respond input#submit.loading:before, #content input.button.loading:before { top:auto!important; height:40px; }
ul.products li.product .onsale { left: 0!important; margin: 0!important; right: auto!important; top: 150px!important; position:absolute;  z-index: 2!important; border-radius:0!important; }
ul.products li.product a:first-child { overflow:hidden; display: block; position: relative; }
li.product span.onsale, div.product span.onsale ,#content-woo ul.products li.product span.onsale{ border-radius:0; background:#d9164e; border-right: 1px solid rgba(255, 255, 255, 0.5);     box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12);
    text-align: center;
	color: #FFFFFF;
    display: table-cell;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    vertical-align: middle; }
div.product span.onsale { left:0; top:33px; }
.item-hover-woo { z-index:1; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; background: rgba(250,250,250, 0.5); position:absolute; top:0; left:-225px; width:100%; height:225px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; padding:30px; overflow:hidden; }
.product  a:hover .item-hover-woo  { left:0px; transition:left 0.5s; -moz-transition:left 0.5s; -webkit-transition:left 0.5s; -o-transition:left 0.5s; }

/* Related */
#related-products .related.products { margin:0 auto; padding-top:60px; }
div.upsells.products ul.products li.first , div.upsells.products ul.products li:nth-child(5) , div.upsells.products ul.products li:nth-child(9) { margin-left:0; }
div.upsells.products ul.products li:nth-child(4), div.upsells.products ul.products li:nth-child(8), div.upsells.products ul.products li:nth-child(12){ margin-right:0; }
div.upsells.products ul.products li.last { margin: 0 10px 30px; }
.related ul.products, .upsells.products ul.products, .related ul, .upsells.products ul { margin:0; padding:0 0 15px; }

.woocommerce .quantity, .woocommerce-page .quantity, .woocommerce #content .quantity, .woocommerce-page #content .quantity, .quantity, #content .quantity { width:90px!important; }
.woocommerce table.cart th, .woocommerce table.cart td, .woocommerce #content table.cart th, .woocommerce #content table.cart td, .woocommerce-page table.cart th, .woocommerce-page table.cart td, .woocommerce-page #content table.cart th, .woocommerce-page #content table.cart td  { text-align:center; }
div.summary.entry-summary form.cart div.quantity.buttons_added { margin-right:20px; }
.quantity input.qty, #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty { width:59px!important; background:#ebebeb!important; border:0 none!important; height:40px!important; margin-right:1px!important; border-radius:0!important; }
.quantity .plus, #content .quantity .plus, .quantity .minus, #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus { background:#ebebeb!important; border-radius:0!important; border:0 none!important; width:30px!important; height:19.5px!important; box-shadow:none!important; font-size: small!important; font-weight: normal!important; }
.quantity .minus, #content .quantity .minus { margin-top:1px; } 
.quantity .plus:hover, #content .quantity .plus:hover, .quantity .minus:hover, #content .quantity .minus:hover { background:#d4d4d4; border-radius:0; }
.summary a { text-decoration:none; }
.summary a:hover { text-decoration:underline; }
div.product div.images div.thumbnails, #content div.product div.images div.thumbnails { padding-top:20px; }
div.product div.images div.thumbnails a, #content div.product div.images div.thumbnails a { margin-top:20px; }

/* Tab */
div.product .woocommerce_tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs  ul.tabs li a, #content div.product .woocommerce_tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a { padding:0; color: #494949; }
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {  color: #494949!important; }
div.product .woocommerce_tabs ul.tabs li.active:after, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:after, #content div.product .woocommerce_tabs ul.tabs li.active:after { box-shadow:none; }
div.product .woocommerce_tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, #content div.product .woocommerce_tabs ul.tabs li { border-radius:0; background:transparent; border:0 none;}
div.product .woocommerce_tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, #content div.product .woocommerce_tabs ul.tabs li { box-shadow:none; margin:0; }
div.product .woocommerce_tabs ul.tabs li:first-child, .woocommerce div.product .woocommerce-tabs ul.tabs li:first-child, #content div.product .woocommerce_tabs ul.tabs li:first-child { padding-left:0; margin-left:0; }
div.product .woocommerce_tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, #content div.product .woocommerce_tabs ul.tabs:before { border:0 none !important; }
div.product .woocommerce_tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, #content div.product .woocommerce_tabs ul.tabs { padding-left:0; padding-bottom:20px; border-bottom:1px solid #D4D1CE; margin-bottom:40px; }
table.shop_attributes .alt td, table.shop_attributes .alt th { background:transparent; }
div.product .woocommerce_tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, #content div.product .woocommerce_tabs ul.tabs li:after { border:0 auto; box-shadow:none; right:0; }
div.product .woocommerce_tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, #content div.product .woocommerce_tabs ul.tabs li:before, 
div.product .woocommerce_tabs ul.tabs li:after, #content div.product .woocommerce_tabs ul.tabs li:after { border:0 none; bottom: 0; content: " "; height: auto;  position: absolute; width:auto; }
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li { border:0 none!important; box-shadow:none; }
/*Tab container*/
div.product .woocommerce_tabs .panel, #content div.product .woocommerce_tabs .panel, .woocommerce div.product .woocommerce-tabs #tab-reviews.panel, .woocommerce div.product .woocommerce-tabs #tab-additional_information.panel , .woocommerce div.product .woocommerce-tabs #tab-description.panel  { background:#EBEBEB; padding: 30px; }
div.product .woocommerce_tabs, #content div.product .woocommerce_tabs , .woocommerce div.product .woocommerce-tabs { margin-bottom:40px; }
.woocommerce div.product .woocommerce-tabs #tab-reviews.panel #reviews div#comments p:last-child{ margin-bottom:0!important; }
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs  { margin-bottom: 40px!important; padding: 0 0 20px!important; }
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after ,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{ box-shadow:none!important; border:0!important; }
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li { background:none!important;  border: 0 none!important; border-radius: 0!important; padding: 0 10px!important; margin:0!important; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:first-child, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:first-child, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:first-child { padding-left:0!important; }
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a { font-weight:normal!important; padding:0!important; }

/* Review form*/
#review_form  #respond #commentform .comment-shadow { display:none; }
#review_form #respond h3 { top:0; }
#review_form #comments  { color:inherit }
#review_form #respond .respond-position { padding:0; }
#review_form #respond  p.form-submit { display:block; }
.woocommerce_tabs #tab-description h2 , .woocommerce_tabs #tab-attributes h2 , .woocommerce div.product .woocommerce-tabs .panel h2 { display:none; }
.woocommerce_tabs #tab-description p:last-child, .woocommerce div.product .woocommerce-tabs #tab-description p:last-child { margin-bottom:0; }
.woocommerce_tabs #tab-attributes  table.shop_attributes, .woocommerce div.product .woocommerce-tabs #tab-attributes  table.shop_attributes, .woocommerce div.product .woocommerce-tabs  table.shop_attributes { margin-bottom:0;  border: 0 none; }
table.shop_attributes th, .woocommerce div.product .woocommerce-tabs table.shop_attributes th { font-weight:normal; border-bottom:0 none; }
table.shop_attributes td, .woocommerce div.product .woocommerce-tabs table.shop_attributes td { font-style:normal; border-bottom:0 none;}
table.shop_attributes tr, .woocommerce div.product .woocommerce-tabs table.shop_attributes tr { border-bottom:1px solid #d4d1ce; display: block; }
table.shop_attributes tr:last-child, .woocommerce div.product .woocommerce-tabs table.shop_attributes tr:last-child { border-bottom:0 none; }
tr.alt { border-radius:0!important; }
.woocommerce table.shop_attributes .alt td, .woocommerce-page table.shop_attributes .alt td, .woocommerce table.shop_attributes .alt th, .woocommerce-page table.shop_attributes .alt th { background:none!important; }
#reviews #comments h2 { position:relative; display:inline-block; color: #494949;  margin: 0 0 25px;}
#reviews #comments ol.commentlist { padding:30px 0 0;  border-top:1px solid #d4d1ce; border-bottom:1px solid #d4d1ce; margin-bottom:30px; }
#reviews #comments { color:inherit; }
#reviews #comments .add_review { margin-bottom:0; }
#reviews #comments div{ display:inline-block; }
#reviews #comments div.description{ display:inline-block; width:555px; vertical-align: top; }
.woocommerce #comments .star-rating, .woocommerce-page #comments .star-rating { width:100px; font-size: 18px; }
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .woocommerce p.stars a.active:before, .woocommerce-page p.stars a.active:before, .woocommerce p.stars a:hover:before, .woocommerce-page p.stars a:hover:before, .woocommerce p.stars a:focus:before, .woocommerce-page p.stars a:focus:before { color:#fdb913!important; }
#reviews #comments ol.commentlist li .meta { color:inherit; font-size:inherit; }
#reviews #comments ol.commentlist li .comment-text p.meta  { color:inherit; font-size:11px; }
#reviews #comments ol.commentlist li .comment-text p.meta strong  { font-weight:normal; }
#reviews #comments h2 span.count:before { content:'['; }
#reviews #comments h2 span.count:after { content:']'; }
#reviews #comments div div.star-rating { margin: 5px 0 0 20px; }
#reviews #comments div.comment-text div.star-rating { margin: 0; }
#reviews #comments div.comment_container{ display:block; width:100%; }
#reviews #comments ol.commentlist li img.avatar { width:60px; height:60px; float:left; border:0 none; position:relative; padding:0; background:transparent; display:inline-block; }
#reviews #comments ol.commentlist li img { width:auto; height:auto; position:relative; background:transparent; display:inline-block; float:none; }
#reviews #comments ol.commentlist li .comment-text { border:0 none; border-radius:0; padding: 0 0 0 20px !important;  width: 835px; margin:0 0 0 20px; display:inline-block; }
#reviews #comments ol.commentlist li .comment-text p.meta { display: inline-block; width: 140px; vertical-align: top; }
#reviews #comments ol.commentlist li { min-height:60px; margin: 0 0 30px 0; }
#reviews #comments ol.commentlist li .comment-text p { margin-bottom:0; }
#review_form { padding:20px; }
#review_form #respond #commentform{ padding:20px 0 0 0; margin:20px 0 0 0; border-top:1px solid #d4d1ce; }
#review_form #respond #commentform .comment-form-author, 
#review_form #respond #commentform  .comment-form-email { box-shadow:none ; border:0 none; padding: 0 10px 10px 0; }
#review_form #respond #commentform .comment-form-author #author,
#review_form #respond #commentform  .comment-form-email #email { border:0 none; padding:7px; background:#f6f6f6;  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12); }
#review_form #respond #commentform  .comment-form-comment #comment { border:0 none; background:#f6f6f6; height:auto; box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12); }
#review_form #respond #commentform  .comment-form-comment  { width:100%; margin-bottom:30px; }
#review_form #respond #commentform  .comment-form-author label[for=author], 
#review_form #respond #commentform  .comment-form-email label[for=email] { position:absolute; top:6px; left: 7px; }
#review_form #respond #commentform  .comment-form-comment label[for=comment]{ position:absolute; top:10px; left: 10px; }
.pp_inline #respond #commentform  p.comment-form-author, .pp_inline #respond #commentform p.comment-form-email { overflow: visible!important; margin: 45px 0 30px !important; }
.pp_inline #respond #commentform  .comment-form-author label[for=author], 
.pp_inline #respond #commentform  .comment-form-email label[for=email] { position:absolute; top:6px; left: 0px; }
.pp_inline #respond #commentform  .comment-form-comment label[for=comment]{ position:absolute; top:10px; left: 0px; }
#review_form #respond #commentform  .comment-form-author span.required, #review_form #respond #commentform  .comment-form-email span.required { color:red; padding-left:3px; }
.pp_inline #respond #commentform  .comment-form-author span.required, .pp_inline #respond #commentform  .comment-form-email span.required { color:red; padding-left:3px; }
#review_form #respond #commentform  .comment-form-rating p.stars,
#review_form #respond #commentform  .comment-form-rating label[for=rating] { display:inline-block; vertical-align:top; padding-right:10px; }
div#pp_full_res div.pp_inline div#respond form#commentform   div.respond-position p.stars,
.pp_inline #respond #commentform  p.comment-form-rating  { display:inline-block; vertical-align:top; padding-right:10px; }
div#pp_full_res div.pp_inline div#respond form#commentform   div.respond-position p.stars { width:102px!important; }
.pp_inline #respond #commentform .comment-form-author #author,
.pp_inline #respond #commentform   .comment-form-email #email { border:0 none; padding:7px; background:#f6f6f6; width: 94%; }
.pp_inline #respond #commentform .comment-form-comment textarea  { background:#f6f6f6; }
#pp_full_res #respond h3#reply-title { top:0; }
#pp_full_res #respond form#commentform { width:100%; }
#pp_full_res #respond form#commentform  div.respond-position{ width:100%; display:block;  padding: 20px 0 0; }
#pp_full_res #respond form#commentform  div.respond-position p.comment-form-comment { width:100%; height: auto; overflow:visible; box-shadow:none!important; }
#pp_full_res #respond form#commentform  div.respond-position p.comment-form-comment label[for=comment]{ margin-bottom:30px; display: block; }
#pp_full_res #respond form#commentform div.comment-shadow, .pp_details { display:none; }
#pp_full_res #respond form#commentform div.respond-position  p.stars { width:100%!important;  }
.woocommerce p.stars a.star-1, .woocommerce-page p.stars a.star-1 { width:1.1em!important; }
.woocommerce p.stars a.star-2, .woocommerce-page p.stars a.star-2 { width:2.2em!important; }
.woocommerce p.stars a.star-3, .woocommerce-page p.stars a.star-3 { width:3.3em!important; }
.woocommerce p.stars a.star-4, .woocommerce-page p.stars a.star-4 { width:4.4em!important; }
.woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-5 { width:5.5em!important; }

/* Another pages */
/* Cart */
ul.woocommerce-error, ul.woocommerce-error li { position:relative; }
div.woocommerce-message, ul.woocommerce-error, p.woocommerce-info { position:relative; border-top:0 none; background:#ebebeb; border-radius:0; box-shadow:none; padding: 12px 20px 12px 60px; margin-bottom:30px; line-height: 2; color: inherit; text-shadow:none;  }
div.woocommerce-message:before { font-style:normal;  padding-top:0; border-radius:20px;   height:17px; width:17px; position:absolute; left:30px; top:16px; }
ul.woocommerce-error:before { background-color: transparent; content: " "; box-shadow:none; }
ul.woocommerce-error li:before { font-style:normal;  padding-top:0; border-radius:20px;  height:17px; width:17px;  position:absolute; left:-36px; top:4px; background-color: #B81C23; content: "\00d7"; font-weight: 700; box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset; color: #FFFFFF;  font-family: sans-serif; font-size: 1em; line-height: 1.5; text-align: center; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); width: 1.5em;}
p.woocommerce-info:before { font-style:normal;  padding-top:0; border-radius:20px; height:17px; width:17px; position:absolute; left:30px; top:15px; }
div.woocommerce-message:after, ul.woocommerce-error:after, p.woocommerce-info:after{ content:''; clear:both; display:block; }

table.shop_table { border:0 none; }
.woocommerce table.shop_table, .woocommerce-page table.shop_table { border:0 none!important; border-radius:0!important; }
table.shop_table thead { background:#ebebeb; }
table.shop_table th { padding:15px 12px!important; }
table.shop_table th.product-quantity { text-align:center; }
table.shop_table tr:first-child td { border-top:0 none; }
table.shop_table tr td { border-top:1px solid #d4d1ce; padding:10px 12px; }
table.shop_table tr td.actions { padding:25px 0 10px 0; }
table.cart a.remove, #content table.cart a.remove { background:url(../img/woo-img.png) -19px 0 no-repeat; text-indent: 9999px; width:20px !important; height:18px; }
table.cart a.remove:hover, #content table.cart a.remove:hover { background:url(../img/woo-img.png) 0 0 no-repeat!important; width:18px; text-indent: 9999px; height:18px; -webkit-transition: all 0s linear; -moz-transition: all 0s linear; transition: all 0s linear; -o-transition: all 0s linear; }
table.shop_table tr td.actions div.coupon input#coupon_code { border:0 none; box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12); background:#f6f6f6; margin: 5px 8% 0 0; text-align:center; width:42%; }
table.shop_table tr td.actions div.coupon input.button { width:50%; }
table.cart td.actions .button.alt, #content table.cart td.actions .button.alt { margin-left:20px!important; }
.cart-collaterals .cart_totals table tr td , .cart-collaterals .cart_totals table tr th { font-weight:bold; }
.cart-collaterals .shipping_calculator , form .form-row-first, form .form-row-last,
.cart-collaterals .cart_totals, .cart-collaterals .cart_totals table { width:225px !important; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; }
form .form-row { padding:0; }
form .form-row select, form .form-row input.input-text, form .form-row textarea  { padding:7px; background:#f6f6f6;  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.12); 
border:0 none; margin-bottom:20px; }
.cart-collaterals .shipping_calculator .shipping-calculator-form p{ margin:0 0 15px; }
.shipping-calculator-form { margin-top:10px; }
/* ChacOut */
form.login, form.checkout_coupon, form.register { border-top:0 none; border-right: 0 none; border-left:0 none; padding: 0 0 30px 0; border-bottom:1px solid #d4d1ce; }
.checkout_coupon p.form-row , form.register p.form-row , form.login p.form-row { display:block; float:none; }
form.register  p.form-row label , form.login  p.form-row label { padding-bottom:10px; }
form.register p.form-row a.lost_password , form.login p.form-row  a.lost_password{ display:block; margin-top:20px; }
#customer_details .col-1 h3, #customer_details .col-2 h3 {  border-bottom: 1px solid #D4D1CE; display: block; margin-bottom: 30px;  padding-bottom: 30px; width: 100%; }
.checkout .col-2 h3 { float:none; }
.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling { position:absolute; right: 0; }
.woocommerce .checkout #shiptobilling label, .woocommerce-page .checkout #shiptobilling label { font-size:inherit!important; }
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 { position:relative;  }
#customer_details p.form-row label { padding-bottom:10px; }
#order_comments_field textarea#order_comments { min-height:117px; resize:vertical; }
form .form-row  #createaccount.input-checkbox  { margin-bottom:25px; vertical-align:sub; }
p#account_password-2_field input#account_password-2 { margin-bottom:40px; }
h3#order_review_heading { padding:30px 0; border-bottom:1px solid #d4d1ce; border-top:1px solid #d4d1ce; margin: 30px 0;  }
#order_review table.shop_table  { border-collapse: collapse; }
#order_review table.shop_table tfoot tr, #order_review table.shop_table tbody tr  { border-bottom:1px solid #d4d1ce; }
#order_review table.shop_table tfoot tr th, #order_review table.shop_table tfoot tr td, #order_review table.shop_table tbody tr td  { padding: 20px; }
#payment { background:transparent; }
#payment ul.payment_methods { background:#f7f6f7; border-bottom:0 none; }
#payment div.form-row { padding:30px 0 0; }
#payment div.form-row input#place_order { width:100%; }
.woocommerce form.login, .woocommerce-page form.login, .woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.register { border-bottom: 1px solid #D4D1CE !important; border-left:0 none!important; border-right:0 none!important; border-top:0 none!important;  border-radius: 0 0 0 0 !important;  margin: 0 !important; padding: 0 0 30px !important; }
form.checkout_coupon p.form-row.form-row-first, form.checkout_coupon p.form-row.form-row-last { float:none!important; }
form.checkout_coupon p.form-row.form-row-last  { margin-top:20px!important; }
/* Login */
#customer_login  .col-1 h2, #customer_login  .col-2 h2 { border-bottom:1px solid #d4d1ce; margin-bottom:30px; padding-bottom:30px; }
#customer_login  .col-1 form.login, #customer_login  .col-2 form.register { border-bottom:0 none; margin:0; padding:0; }
#customer_login  .col-2 form.register p.form-row.form-row-wide { width:225px; }
#content-main div.woocommerce form p#billing_company_field.form-row,
#content-main div.woocommerce form p#billing_first_name_field.form-row,
#content-main div.woocommerce form p#billing_last_name_field.form-row,
#content-main div.woocommerce form p#billing_city_field.form-row, 
#content-main div.woocommerce form p#billing_email_field.form-row , 
#content-main div.woocommerce form p#billing_phone_field.form-row, 
#content-main div.woocommerce form p#billing_postcode_field.form-row,
#content-main div.woocommerce form p#billing_address_1_field.form-row,
#content-main div.woocommerce form p#billing_country_field.form-row,
#content-main div.woocommerce form p#billing_state_field.form-row,
#content-main div.woocommerce form p#billing_address_2_field.form-row,
#content-main div.woocommerce form p#shipping_first_name_field,
#content-main div.woocommerce form p#shipping_address_1_field,
#content-main div.woocommerce form p#shipping_address_2_field,
#content-main div.woocommerce form p#shipping_country_field,
#content-main div.woocommerce form p#shipping_state_field,
#content-main div.woocommerce form p#shipping_last_name_field ,
#content-main div.woocommerce form p#shipping_city_field, 
#content-main div.woocommerce form p#shipping_postcode_field  { width:100%!important; padding:0!important; }
p.myaccount_user, p.myaccount_address { border-bottom:1px solid #d4d1ce; margin-bottom:30px; padding-bottom:30px; }
p.myaccount_address { margin-top:30px; }
table.shop_table.my_account_orders { font-size:inherit;  border-collapse: collapse; border-bottom:1px solid #d4d1ce; margin-bottom:30px; padding-bottom:30px; padding-top:20px; display:block; }
table.shop_table.my_account_orders tr.order td.order-actions { width:225px; padding:20px 0 20px 20px; }
table.shop_table.my_account_orders tr.order td.order-number { width:10%; }
.col2-set.addresses div.col-1 header.title, .col2-set.addresses div.col-2 header.title {  border-bottom:1px solid #d4d1ce; margin-bottom:30px; padding-bottom:20px; }
form #billing_first_name_field.form-row, form #billing_last_name_field.form-row,
form #billing_company_field.form-row, form #billing_address_1_field.form-row { width:48%; }
table.shop_table.order_details  { border-collapse: collapse; margin-top:30px; }
table.shop_table.order_details  tfoot tr, table.shop_table.order_details  tbody tr  { border-bottom:1px solid #d4d1ce; }
table.shop_table.order_details tfoot tr th, table.shop_table.order_details  tfoot tr td, table.shop_table.order_details  tbody tr td  { padding: 20px; }
p.order-info { border-bottom:1px solid #d4d1ce; margin-bottom:30px; padding-bottom:30px; }
dl.customer_details { border-top:1px solid #d4d1ce; margin:30px 0; padding-top:30px; }
dl.customer_details dt   { display: inline-block; width: 9%;}
dl.customer_details dd  { display: inline-block; margin: 0; width: 91%; }
.checkout #shiptobilling label { font-size:inherit; }
form.checkout #customer_details .col-1 p#billing_company_field,
form.checkout #customer_details .col-1 p#billing_city_field , 
form.checkout #customer_details .col-1 p#billing_email_field , 
form.checkout #customer_details .col-1 p#billing_phone_field , 
form.checkout #customer_details .col-1 p#billing_postcode_field { width:100%; }
form.checkout #customer_details .col-1 p#billing_address_1_field,
form.checkout #customer_details .col-1 p#billing_country_field,
form.checkout #customer_details .col-1 p#billing_state_field,
form.checkout #customer_details .col-1 p#billing_address_2_field { width:100%; }
form.checkout #customer_details .col-1 p#billing_address_2_field, form.checkout #customer_details .col-2 .shipping_address p#shipping_address_2_field { margin-top:15px; }
form.checkout #customer_details .col-2 .shipping_address p#shipping_first_name_field,
form.checkout #customer_details .col-2 .shipping_address p#shipping_address_1_field,
form.checkout #customer_details .col-2 .shipping_address p#shipping_address_2_field,
form.checkout #customer_details .col-2 .shipping_address p#shipping_country_field,
form.checkout #customer_details .col-2 .shipping_address p#shipping_state_field,
form.checkout #customer_details .col-2 .shipping_address p#shipping_last_name_field { width:100%; }
form.checkout #customer_details .col-2 .shipping_address p#shipping_city_field, 
form.checkout #customer_details .col-2 .shipping_address p#shipping_postcode_field { width:100%; }
 
/* Media */
@media screen and (max-width: 1023px) {
	#reviews #comments ol.commentlist li .comment-text { width: 589px; }
	#reviews #comments div.description{ width:310px;}
	form #customer_details #billing_first_name_field.form-row, form #customer_details #billing_last_name_field.form-row, form #customer_details #billing_state_field.form-row, form #customer_details #billing_postcode_field.form-row , form #customer_details #billing_email_field.form-row , form #customer_details #billing_phone_field.form-row { width: 48% !important; }
	form #customer_details #shipping_first_name_field.form-row, form #customer_details #shipping_last_name_field.form-row, form #customer_details #shipping_state_field.form-row, form #customer_details #shipping_postcode_field.form-row , form #shipping_details #billing_email_field.form-row , form #shipping_details #billing_phone_field.form-row { width: 48% !important; }
	#review_form #respond #commentform  .comment-form-comment  { width:96%; margin-bottom:30px; }
	#related-products .related.products ul.products li:nth-child(4) { display:none; }
	div.upsells.products ul.products li.first , div.upsells.products ul.products li:nth-child(4) , div.upsells.products ul.products li:nth-child(8) { margin-left:0; }
	div.upsells.products ul.products li:nth-child(3), div.upsells.products ul.products li:nth-child(6), div.upsells.products ul.products li:nth-child(9){ margin-right:0; }
	.woo-cuckoo-active .work-content ul.products li.product.last, .cuckoo-not-single-element ul.products li.product.last  { margin-right: 10px!important; }
	table.shop_table tr td.actions input.button { width:150px!important; }
	table.shop_table tr td.actions input.checkout-button.button.alt{ width:180px!important; }
	table.shop_table tr td.actions div.coupon input.button { width:50%!important; }
}

@media screen and (max-width: 768px) {
	#content-woo { width:490px }
	#reviews #comments div div.star-rating { margin: 0; display:block; }
	#reviews #comments div { display:block; }
	#reviews #comments h2 { display:block; }
	.container-woo-path .woocommerce-breadcrumb { padding-top:15px; }
	.cart-accuont { float: none; text-align: center; display:block; top:0;  }
	.related.products.screen-large-portfolio {  width:490px; }
	#reviews #comments ol.commentlist li .comment-text { margin: 0 0 0 20px !important;  padding: 0 !important; width: 78%; display:inline-block; }
	#reviews #comments ol.commentlist li .comment-text p.meta { left:90px; position: absolute; top: 0; }
	#reviews #comments ol.commentlist li img.avatar { width:60px!important; height:60px!important; position:relative!important; padding:0; margin:0!important; }
	#reviews #comments ol.commentlist li .comment-text .star-rating { right: 0; position: absolute; top: 0;}
	#reviews #comments div.description{ width: 100%; padding: 35px 0 0;}
	div.product div.images, #content div.product div.images { float:none!important; width:100%!important; display:block; }
	div.product div.summary, #content div.product div.summary { float:none!important; width:100%!important; display:block; margin: 30px 0 ; }
	.container-woo-path .woocommerce-breadcrumb { display:none; }
	#related-products .related.products ul.products li:nth-child(4),
	#related-products .related.products ul.products li:nth-child(3) { display:none; }
	div.upsells.products ul.products li.first , div.upsells.products ul.products li:nth-child(3) , div.upsells.products ul.products li:nth-child(5) { margin-left:0; margin-right:10px; }
	div.upsells.products ul.products li:nth-child(2), div.upsells.products ul.products li:nth-child(4), div.upsells.products ul.products li:nth-child(6){ margin-right:0;  margin-left:10px; }
	.woo-cuckoo-homepage ul.products li.product, .woo-cuckoo-homepage .related ul.products li.product, 
	.woo-cuckoo-homepage .upsells.products ul.products li.product, .woo-cuckoo-homepage .related ul li.product, .woo-cuckoo-homepage .upsells.products ul li.product { width:216px!important; margin: 0 8px 30px!important; }
	.woo-cuckoo-homepage ul.products li.product a img, .woo-cuckoo-homepage .related ul.products li.product a img,
	.woo-cuckoo-homepage .upsells.products ul.products li.product a img, .woo-cuckoo-homepage .related ul li.product a img, .woo-cuckoo-homepage .upsells.products ul li.product a img { max-width: 216px!important; }
	table.shop_table tr td.actions input.button { width:50%!important; margin:0 0 20px; }
	table.shop_table tr td.actions input.checkout-button.button.alt{ width:50%!important; }
	table.shop_table tr td.actions div.coupon input.button { width:100%!important; }
	table.cart td.actions .coupon, #content table.cart td.actions .coupon { width:45%; }
	table.shop_table tr td.actions div.coupon input#coupon_code { width:100%; margin:0 0 33px; }
	dl.customer_details dt   { display: inline-block; width: 15%;}
	dl.customer_details dd  { display: inline-block; margin: 0; width: 85%; }
	form.checkout #customer_details .col-1, form.checkout #customer_details .col-2 { width:100%; }
	form.checkout #customer_details .col-2 { padding-top:20px; }
}

@media screen and (max-width: 480px) {
	#content-woo { width:225px }
	#review_form { padding:0; }
	.woocommerce form .form-row, .woocommerce-page form .form-row { padding:0!important; }
	.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling { float: left !important; margin-bottom: 15px !important; position: relative; width: 100%; }
	.woocommerce_ordering, #content-woo form.woocommerce-ordering { margin: 0 0 20px; }
	p.woocommerce-result-count { margin: 0 0 15px !important; }
	form #customer_details #billing_first_name_field.form-row, form #customer_details #billing_last_name_field.form-row, form #customer_details #billing_state_field.form-row, form #customer_details #billing_postcode_field.form-row , form #customer_details #billing_email_field.form-row , form #customer_details #billing_phone_field.form-row { width: 100% !important; }
	form #customer_details #shipping_first_name_field.form-row, form #customer_details #shipping_last_name_field.form-row, form #customer_details #shipping_state_field.form-row, form #customer_details #shipping_postcode_field.form-row , form #shipping_details #billing_email_field.form-row , form #shipping_details #billing_phone_field.form-row { width: 100% !important; }
	ul.products li.product, .related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin: 0 0 30px !important; width: 225px !important; }
	.related.products.screen-large-portfolio , div.pp_woocommerce #respond{  width:225px!important; }
	ul.products li.product, .related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product { margin:0 0 30px; }
		.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li { padding:0!important; display:block; width:100%; }
	ul.products li.product { width:225px; margin: 0 0 30px; }
	.woocommerce_ordering { margin-left:0px; }
	.container-woo-path .woocommerce-breadcrumb { padding-top:15px; }
	.cart-accuont { float: none; text-align: center; top:0; }
	#reviews #comments ol.commentlist li .comment-text { width: 100%; margin:0!important; position:relative; }
	#reviews #comments ol.commentlist li .comment-text p.meta {  left: 0; position: absolute;  text-align: center; top: 35px; width: 162px; }
	#reviews #comments ol.commentlist li .comment-text .star-rating { left: 27px; position: absolute; top: 10px; }
	#reviews #comments div.description{ width: 100%; padding: 65px 0 0;}
	#reviews #comments div div.star-rating { margin: 0 30px 20px; }
	#reviews #comments ol.commentlist li img.avatar { display:block!important; margin: 0 0 0 44px !important; }
	div.product .woocommerce_tabs ul.tabs li, #content div.product .woocommerce_tabs ul.tabs li { display:block; padding:0; }
	table.shop_attributes th { display:block; width:100%; padding: 10px 0 5px; font-weight:bold; }
	table.shop_attributes td { display:block; width:100%; padding: 0 0 5px 0; }
	table.shop_attributes td p { padding:0; }
	div.product div.images, #content div.product div.images { float:none; width:100%; display:block; }
	div.product div.summary, #content div.product div.summary { float:none; width:100%; display:block; margin: 30px 0 ; }
	div.product form.cart div.quantity, #content div.product form.cart div.quantity { display: block; float: none!important; margin: 0 auto 20px!important; }
	.container-woo-path .woocommerce-breadcrumb { display:none; }
	#related-products .related.products ul.products li:nth-child(4),
	#related-products .related.products ul.products li:nth-child(3),
	#related-products .related.products ul.products li:nth-child(2) { display:none; }
	div.upsells.products ul.products li { margin:0 0 30px!important; }
	#review_form #respond #commentform .comment-form-author, 
	#review_form #respond #commentform .comment-form-email { width: 195px; }
	#review_form #respond #commentform .comment-form-author #author,
	#review_form #respond #commentform  .comment-form-email #email { width:90%; }
	#review_form #respond #commentform .form-submit { width:195px; }
	#review_form #respond #commentform .comment-form-comment { width: 195px; }
	#review_form #respond #commentform .form-submit #submit { width:100%; }
	#review_form #respond #commentform .comment-form-rating { width: 195px; }
	#review_form #respond .respond-position { width:205px !important; }
	.woo-cuckoo-homepage ul.products li.product, .woo-cuckoo-homepage .related ul.products li.product, 
	.woo-cuckoo-homepage .upsells.products ul.products li.product, .woo-cuckoo-homepage .related ul li.product, .woo-cuckoo-homepage .upsells.products ul li.product { width:225px; margin: 0 0 30px; }
	td.actions input.button { width:225px!important; }
	#customer_details .col-1, #customer_details .col-2 { width:225px; display:block; }
	#order_review { width:225px; }
	#order_review table.shop_table tfoot tr th, #order_review table.shop_table tfoot tr td, #order_review table.shop_table tbody tr td , table.shop_table th { padding: 5px; }
	#customer_login  .col-1, #customer_login  .col-2 { display:block; width:225px; }
	#customer_login  .col-1 { margin:0 0 30px; }
	.addresses .col-1 { margin:0 0 30px; }
	.addresses .col-1, .addresses .col-2 { width:225px; }
	dl.customer_details dt   { display: inline-block; width: 30%;}
	dl.customer_details dd  { display: inline-block; margin: 0; width: 70%; }
	table.shop_table.order_details tfoot tr th, table.shop_table.order_details  tfoot tr td, table.shop_table.order_details  tbody tr td  { padding: 5px; }
	form.checkout #customer_details .col-1 p#billing_first_name_field,
	form.checkout #customer_details .col-1 p#billing_last_name_field,
	form.checkout #customer_details .col-1 p#billing_company_field,
	form.checkout #customer_details .col-1 p#billing_city_field , 
	form.checkout #customer_details .col-1 p#billing_email_field , 
	form.checkout #customer_details .col-1 p#billing_phone_field , 
	form.checkout #customer_details .col-1 p#billing_postcode_field,
	form.checkout #customer_details .col-1 p#billing_address_1_field,
	form.checkout #customer_details .col-1 p#billing_country_field,
	form.checkout #customer_details .col-1 p#billing_state_field,
	form.checkout #customer_details .col-1 p#billing_address_2_field ,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_first_name_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_address_1_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_address_2_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_country_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_state_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_last_name_field ,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_city_field, 
	form.checkout #customer_details .col-2 .shipping_address p#shipping_postcode_field { width:100%; }
	form.checkout #customer_details .col-1, form.checkout #customer_details .col-2 { width:100%; }
	form.checkout #customer_details .col-2 { padding-top:20px; }
	.checkout #shiptobilling { padding-bottom:15px; float:none; }
}

@media screen and (max-width:320px) {
	#content-woo { width:225px }
	#review_form { padding:0; }
	.woocommerce form .form-row, .woocommerce-page form .form-row { padding:0!important; }
	.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling { float: left !important; margin-bottom: 15px !important; position: relative;  width: 100%;}
	form #customer_details #billing_first_name_field.form-row, form #customer_details #billing_last_name_field.form-row, form #customer_details #billing_state_field.form-row, form #customer_details #billing_postcode_field.form-row , form #customer_details #billing_email_field.form-row , form #customer_details #billing_phone_field.form-row { width: 100% !important; }
	form #customer_details #shipping_first_name_field.form-row, form #customer_details #shipping_last_name_field.form-row, form #customer_details #shipping_state_field.form-row, form #customer_details #shipping_postcode_field.form-row , form #shipping_details #billing_email_field.form-row , form #shipping_details #billing_phone_field.form-row { width: 100% !important; }
	.related.products.screen-large-portfolio {  width:225px; }
	.woocommerce_ordering, #content-woo form.woocommerce-ordering { margin: 0 0 20px; }
	p.woocommerce-result-count { margin: 0 0 15px !important; }
	ul.products li.product, .related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin: 0 0 30px !important; width: 225px !important; }
	ul.products li.product, .related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product { margin:0 0 30px; }
	.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li { padding:0!important; display:block; width:100%; }
	ul.products li.product { width:225px; margin: 0 0 30px; }
	.woocommerce_ordering { margin-left:0px; }
	.container-woo-path .woocommerce-breadcrumb { padding-top:15px; }
	.cart-accuont { float: none; text-align: center; top:0; }
	#reviews #comments ol.commentlist li .comment-text { width: 100%; margin:0!important; position:relative; }
	#reviews #comments ol.commentlist li .comment-text p.meta {  left: 0; position: absolute;  text-align: center; top: 35px; width: 162px; }
	#reviews #comments ol.commentlist li .comment-text .star-rating { left: 27px; position: absolute; top: 10px; }
	#reviews #comments div.description{ width: 100%; padding: 65px 0 0;}
	#reviews #comments div div.star-rating { margin: 0 30px 20px; }
	#reviews #comments ol.commentlist li img.avatar { display:block!important; margin: 0 0 0 44px !important; }
	div.product .woocommerce_tabs ul.tabs li, #content div.product .woocommerce_tabs ul.tabs li { display:block; padding:0; }
	table.shop_attributes th { display:block; width:100%; padding: 10px 0 5px; font-weight:bold; }
	table.shop_attributes td { display:block; width:100%; padding: 0 0 5px 0; }
	table.shop_attributes td p { padding:0; }
	div.product div.images, #content div.product div.images { float:none; width:100%; display:block; }
	div.product div.summary, #content div.product div.summary { float:none; width:100%; display:block; margin: 30px 0 ; }
	div.product form.cart div.quantity, #content div.product form.cart div.quantity { display: block; float: none; margin: 0 auto 20px; }
	.container-woo-path .woocommerce-breadcrumb { display:none; }
	#related-products .related.products ul.products li:nth-child(4),
	#related-products .related.products ul.products li:nth-child(3),
	#related-products .related.products ul.products li:nth-child(2) { display:none; }
	div.upsells.products ul.products li { margin:0 0 30px!important; }
	#review_form #respond #commentform .comment-form-author, 
	#review_form #respond #commentform .comment-form-email { width: 195px; }
	#review_form #respond #commentform .comment-form-author #author,
	#review_form #respond #commentform  .comment-form-email #email	{ width:90%; }
	#review_form #respond #commentform .comment-form-rating { width: 195px; }
	#review_form #respond #commentform .comment-form-comment { width: 195px; }
	#review_form #respond #commentform .form-submit { width:195px; }
	#review_form #respond #commentform .form-submit #submit { width:100%; }
	#review_form #respond .respond-position { width:205px !important; }
	.woo-cuckoo-homepage ul.products li.product, .woo-cuckoo-homepage .related ul.products li.product, 
	.woo-cuckoo-homepage .upsells.products ul.products li.product, .woo-cuckoo-homepage .related ul li.product, .woo-cuckoo-homepage .upsells.products ul li.product { width:225px; margin: 0 0 30px; }
	#customer_details .col-1, #customer_details .col-2 { width:225px; display:block; }
	#order_review { width:225px; }
	#order_review table.shop_table tfoot tr th, #order_review table.shop_table tfoot tr td, #order_review table.shop_table tbody tr td , table.shop_table th { padding: 5px; }
	#customer_login  .col-1, #customer_login  .col-2 { display:block; width:225px; }
	#customer_login  .col-1 { margin:0 0 30px; }
	.addresses .col-1, .addresses .col-2 { width:225px; }
	.addresses .col-1 { margin:0 0 30px; }
	dl.customer_details dt   { display: inline-block; width: 30%;}
	dl.customer_details dd  { display: inline-block; margin: 0; width: 70%; }
	table.shop_table.order_details tfoot tr th, table.shop_table.order_details  tfoot tr td, table.shop_table.order_details  tbody tr td  { padding: 5px; }
	form.checkout #customer_details .col-1 p#billing_first_name_field,
	form.checkout #customer_details .col-1 p#billing_last_name_field,
	form.checkout #customer_details .col-1 p#billing_company_field,
	form.checkout #customer_details .col-1 p#billing_city_field , 
	form.checkout #customer_details .col-1 p#billing_email_field , 
	form.checkout #customer_details .col-1 p#billing_phone_field , 
	form.checkout #customer_details .col-1 p#billing_postcode_field,
	form.checkout #customer_details .col-1 p#billing_address_1_field,
	form.checkout #customer_details .col-1 p#billing_country_field,
	form.checkout #customer_details .col-1 p#billing_state_field,
	form.checkout #customer_details .col-1 p#billing_address_2_field ,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_first_name_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_address_1_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_address_2_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_country_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_state_field,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_last_name_field ,
	form.checkout #customer_details .col-2 .shipping_address p#shipping_city_field, 
	form.checkout #customer_details .col-2 .shipping_address p#shipping_postcode_field { width:100%; }
	form.checkout #customer_details .col-1, form.checkout #customer_details .col-2 { width:100%; }
	form.checkout #customer_details .col-2 { padding-top:20px; }
	.checkout #shiptobilling { padding-bottom:15px; float:none; }
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){ 

	.cart-show  { background:url( ../img/basket@2x.png) no-repeat; background-size:30px 30px; }
}