/**************
 * @package WordPress
 * @subpackage Cuckoothemes
 * @since Cuckoothemes 1.0
 * URL http://cuckoothemes.com
 **************/

@import "../../css/fonts.css";
 
#main_content { width:800px; display:block; position:relative; margin:20px 50px 0; font-family:Arial; border-bottom: 0 none; box-shadow: none; float:none; }
#framework_title {display:block; height:20px; padding:25px 0; font-weight:bold; font-size:20px;}
#save_upadate { box-shadow: 0 0 8px 1px #D6D6D6; position:fixed; top:50%; z-index:100000000; left:50%; background-color: #FFFFE0; margin-top:-20px; margin-left:-310px; border-color: #E6DB55; width:500px; padding-top:10px; height:25px; text-align:center; font-size:15px; color:#333333; font-weight:bold;}
.theme_info { float:left; color:#333333;} 
.theme_version { float:right; color:#227399;}
.error_plius { padding:0.6em 0 !important;  text-align:center; }
#general_settings { border:1px solid #d6d6d6; width:100%; margin-bottom:30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#general_settings_dubble { border:1px solid #d6d6d6; width:100%; margin-bottom:30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.general_title { color:#333333; font-size:18px; font-weight:600;  padding: 40px 30px 40px; height:20px; background: #ececec; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.general_title_dubble { color:#333333; font-size:18px; font-weight:600;  padding: 40px 30px 40px; height:20px; }
.float_left { float:left; }
.float_right { float:right; }
.clear { clear:both; }
.button-area {  }
#framework_footer { width:230px; display:table; float:right; color:#999999; }
.footer_txt { width:180px; vertical-align:top; display:table-cell; text-align:right; }
.cuckoothemes_icone { width:38px; height:32px; float: right; }
.button-remove-area { margin-left:15px; padding:4px;  vertical-align: middle; }
.main-elements { height:50px; display:block; margin-top:20px; }
.title-element { width:88%; }
.margin-no { margin: 0!important; }
.element-title-show { width:11%; font-weight:bold; display:inline-block; }
.testimonial_input_element { margin-bottom:15px; display:block; }
header.header { height:40px; display:block; margin: 15px 0;  }
#result {display:block; width:200px; height:50px; background-color:red; color:blue;}
.general_click { width:30px; height:30px; background: url('../images/plus.png') no-repeat; display:block; position:relative; top:-4px;}
.general_onclick { width:30px; height:30px; background: url('../images/minus.png') no-repeat; display:block; position:relative; top:-4px;}
.float_right a:hover{ box-shadow: 0px 0px 0px 3px #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.general_title_active { color:#333333; font-size:18px; font-weight:600;  padding: 40px 30px 40px; height:20px;}
.active_settings, .builder-settings { width:93%; display: none; border-top:4px solid #d6d6d6; margin:auto; position:relative; top:-3px; }
.active_settings_dubble { width:93%; display: none; border-top:4px solid #d6d6d6; margin:auto; position:relative; top:-3px; display: block;  margin-bottom:30px; }
.active_settings input[type=button], .builder-settings  input[type=button] { right:1px; cursor: pointer; color:#555555; float:right; background:url('../images/white_click.png') repeat-x; width:100px; height:30px; position:relative; border:1px solid #bbbbbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.active_settings input[type=button]:hover, .builder-settings  input[type=button]:hover { color:#555555; box-shadow: 0px 0px 0px 3px #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #bbbbbb; }
input.slider_front_page_active  { width:100px; height:30px; float:none!important; background:url('../images/blue_click.png') repeat-x !important; border:1px solid #227399 !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:white!important;}
.slider_front_page_active:hover {   box-shadow: 0px 0px 0px 3px #93c2d8!important; position:relative; border:1px solid #227399; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:url('../images/blue_click.png') repeat-x; }
input.slider_front_page { float:none!important; text-align:center; cursor: pointer; background:url('../images/white_click.png') repeat-x; display: inline-block;  width:100px; height:30px; position:relative; border:1px solid #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.slider_front_page:hover {  color:#555555; box-shadow: 0px 0px 0px 3px #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #bbbbbb;  }
.section_settings { padding:37px 0; display:block; border-bottom:1px solid #d6d6d6; }
#main_content input[type=submit] { cursor: pointer; background:url('../images/blue_click.png') repeat-x;  width:100px; height:30px; position:relative; border:1px solid #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#main_content input[type=submit]:hover { box-shadow: 0px 0px 0px 3px #93c2d8; }
input#restore_font { width: 20%!important; font-size:12px; font-weight:normal; top: -6px; cursor: pointer; background:url('../images/blue_click.png') repeat-x; height:30px; position:relative; border:1px solid #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
input#restore_font:hover { box-shadow: 0px 0px 0px 3px #93c2d8; }
.description_social { display:inline-block; padding-left:55px; position:relative; width:235px; top:6px; color: #999999; }
div.desc_bottom  { color: #999999; padding-top:30px; }
.settings_left { float:left; width:330px; padding-right:40px; color:#999999; }
.settings_left_title { font-size:15px; font-weight:bold; color:#333333; padding-bottom:15px; display:table; }
.settings_left select { width: 100%; font-size:12px; color:#333333; }
.upload_image { width:370px; }
.settings_left textarea { min-width:330px; max-width:330px; min-height:130px; }
.dropdown { width:220px; font-size:12px; color:#333333; }
.settings_left_full { width:100%; float:left; padding-bottom:20px; color:#999999; }
.settings_left_full textarea { min-width:100%; max-width:100%; min-height:130px; }
.add_sidebar { background:url('../images/blue_click.png') repeat-x; height:17px; position:relative; margin-left:20px; top:-7px; cursor:pointer; color:white; font-size:11px; font-weight:normal;    border: 1px solid #227399; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:6px; }
.add_sidebar:hover { box-shadow: 0px 0px 0px 3px #93c2d8; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.section { border:25px solid #ececec;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; margin-bottom:30px; background-color: #ececec; width: 100%; display:block;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.section_title { height:20px; padding: 5px 0 15px; }
.section_main { display: table; width:100%; margin:auto; position:relative; padding-top:15px; padding-left: 2px; }
.section_right { display: table-cell; vertical-align:top; display:block; width: 95%; padding-left:5%; }
.section_right b { width:100%; display:block; padding-bottom: 5px;}
.section_right p { margin-top:0; }
.section_right input { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.section input[type=button] { right:1px; cursor: pointer; top:-7px; color:#555555; float:right; background:url('../images/white_click.png') repeat-x; width:100px; height:30px; position:relative; border:1px solid #bbbbbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.section input[type=button]:hover { color:#555555; box-shadow: 0px 0px 0px 3px #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #bbbbbb; }
.section_left {	display: table-cell; vertical-align:top; width:225px; height:150px; background:url('../images/no_slides_slider.png') no-repeat;}
.section_left input { padding:0; margin:0; }
.section_change { cursor:move; background:url('../images/drag.png') no-repeat; display:inline-block; right:0px; position:relative; width:30px; height:30px; top:-6px; }
.section_change:hover { box-shadow: 0px 0px 0px 3px #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  }
.img_input { width:225px; height: 150px; /*height:120px;*/ }
.width_input { width:80%; margin:0;}

/* slideshow titles class */
.img_description { display:table; width:100%; padding-top:10px; }
.slide_subtitle { display: inline-block; float: left; width: 252px; }
.slide_subtitle b { padding-bottom:5px; display: block; }
.slide_subtitle textarea, .slide_title textarea { min-height:95px; height:95px; width:90%; resize:vertical; max-height:90%;  }
.slide_title { display: inline-block; float: left; width: 252px; }
.slide_title b { padding-bottom:5px; display: block; }
.slide_button { display: inline-block; vertical-align: top; width: 190px; }
.slide_button b { padding-bottom:5px; display: block; }
.slide_button input { width:100%; display: block; }
.radio_title { display:table-cell; width: 20%; font-weight:bold; }
.radio_value { display:table-cell; height:20px; width:20%; }
.divider-line { background-color: #DFDFDF; height:1px; width:100%; margin:20px 0 0; }
.small-image-input { width:64%; }
.small-title { padding-right:20px; }
.upload-small-button { top:-3px!important; }
/* end */

.width_input_title { width:100%; margin:0;}
#image_url_input { width:100%; margin:0;}
.placeholder{ height:70px; width:100%; background: #f0f0f0; border:1px dashed #ddd; margin-bottom: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;} 
.section_change .configure{  font-size:11px; font-weight:normal; margin-right:30px; float:right; }
.upload_image_button { position: absolute!important;  top:-42px!important; left: 0;}
.upload_image_button.button { position: relative!important;  top:0!important; left: 0;}
.remove_block {left:120px;}
.change_text {position:relative; float:left; padding-right:21px; font-size:12px; color:#555555;}
.add_element, .builder {cursor: pointer; width:70px!important; float:right; background:url('../images/blue_click.png') repeat-x; height:30px; position:relative; border:1px solid #d6d6d6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:white!important;}
.add_element:hover, .builder:hover { box-shadow: 0px 0px 0px 3px #93c2d8; border:1px solid #227399; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:url('../images/blue_click.png') repeat-x; }
.line_foor_px { height:4px; width:100%; background:#d6d6d6; margin:30px 0; }
.social_section { height:20px; margin-bottom:18px; background: #ececec; padding:30px; border:1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.social_section b{ color: #333333; font-size:15px;  width:100px; text-align:left; display:inline-block; position:relative; top:-15px;}
.social_section input { width:290px; position:relative; top:-15px; }
.social_section span { width:229px; padding:0 0 0 20px; display:inline-block; position:relative; top:-15px;}
.social_placeholder{ height:50px; width:740px; background: #f3f3f3; border:1px dashed #ddd; margin-bottom: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;} 

/* works and testimonials page settings */
.new_elements { padding:0 20px; }
section { border-bottom: 1px solid #DFDFDF; box-shadow: 0 1px 0 #FFFFFF; float:left; width:100%; }
textarea { margin:0; }
.works_items { padding:30px 0px; color:#999999;}
.items_left { float:left; width:47%; padding-right:5.6%; }
.items_right { float:left; width:47%; }
.testimonials_items.items_right { float:left; width:80%; }
.works_items textarea { width:100%;  min-height: 160px; resize: vertical; text-align:left;}
.works_items input[type=text] { width:100%; font-size:12px; padding: 4px; margin-bottom:5px; float:left;}
.testimonials_items input[type=text] { display: inline-block; width:60%; font-size:12px; padding: 4px; margin-bottom:5px; float:left;}
.testimonials_items label.item_title {  padding-top: 5px; font-size:15px; font-weight:bold; color:#040404; display:inline-block; padding-bottom:0px; padding-right: 20px; float:left;  }
.testimonials_items div.bottom_desc { display: inline-block; float: left; padding-left: 20px; padding-top: 5px; width: 100px; }
.works_text {  padding:30px 0 0; color:#999999; float:left; display:block; width:100%; }
.left_desc { padding-top: 42px; width:220px; font-size:12px; display:inline-block; line-height:1; }
.item_title { font-size:15px; font-weight:bold; color:#040404; padding-bottom:30px; display:block; }
.bottom_desc { width:100%; padding-top:20px; }
.upload_button { width:30%; padding:4px; float:right; margin:1px 0 0 0; }
.description_admin_sidebar { position: relative; top: -10px; width: 80px; float:right; color:#999999; }
.description_admin_top { display:block; width:100%; color:#999999; padding:0 0 10px 0;}
.description_admin_normal { display:block; width:100%; color:#999999; padding:10px 0;}
.description_admin_bottom { display:block; width:100%; color:#999999;}
#custom_box_gallery  select, #sidebar_box_ID select { width:100%; max-width:100%; }
#sidebar_box_ID .inside, #custom_box_gallery .inside {  padding: 20px 10px; }

.testimonials_text .bottom_desc_all { padding:10px 0 0px; }
input#cuckoo_company { width:100%; }

.widget-content select {  width: 100%; }
.widget-content ul.ad_banners li { border-bottom:1px solid #dfdfdf; margin-bottom:20px; padding-bottom:10px; }
.widget-content ul.ad_banners li:last-child { border-bottom:none; }

.theme_color_title { color:#FF3E00; }
.theme_icone_title { background: url('../images/icon_title.png') 0 1px no-repeat; padding: 0 30px 0 0; }

textarea.widefat { resize: vertical; }
select.font_select { width:100% }
select.mini_select { width:100px; margin-right:15px; }
input.mini_select-input, input.mini_select-input-color { width:100px; margin-right:15px; }
input.mini_select-color { width:100px; margin-right:25px; }
.select-color-btn { width:96px!important; height:27px!important; }
.select-btn { height:27px!important; margin-right:30px; }
select.mini_select_first { width:100px; margin-right:15px; }
select.mini_last_select { width:96px; }
.font_description { color: #999999; padding-bottom:10px; }
.font_description_mini { color: #999999; padding:10px 0; }
.font_description_mini_color { color: #333333; font-weight:bold; font-size:15px; padding: 0 0 20px; }
.fonts_attr_bottom { display:inline-block; float: left; }
.mini_input { width:90px; text-align:center; }
.font_preview { border:1px solid #d6d6d6; padding: 0 3% 3%; height: 166px; overflow: auto; display:block; line-height:1; }
.wait_font { background: #d6d6d6 url('../images/loading.gif') 50% 50% no-repeat; font-size:0; display:none; }

.admin_bar_icone { background: url('../images/icon.png') no-repeat 0 6px; width:16px!important; height:24px !important; }
/* Update */
.cuckoo_update_count { border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;  background-color: #FF3E00; color: white !important;  font-size: 11px !important; margin-left: 5px !important; padding: 1px 5px !important; text-shadow: none !important; }

#works-layout-main { width:100%; display:table; }
.col-works-layout { display:table-cell; vertical-align:top; padding: 15px 20px 10px; }
.standard-work { background: url('../images/standard-work.png') no-repeat; width:90px; height:90px; padding: 0 0 15px; }
.standard-work:hover { opacity: 0.6; filter:alpha(opacity=60); -khtml-opacity: 0.6; -moz-opacity: 0.6; opacity: 0.6; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; -o-transition: all 0.2s linear; }
.full-width-work { background: url('../images/full-width-work.png') no-repeat; width:90px; height:90px; padding: 0 0 15px; }
.full-width-work:hover { opacity: 0.6; filter:alpha(opacity=60); -khtml-opacity: 0.6; -moz-opacity: 0.6; opacity: 0.6; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; -o-transition: all 0.2s linear; }

/* header footer settings */
.no-bord { border-bottom:0; box-shadow:none; float: none; }
#id_plain_text, #id_logo { display:none; }

/* fonts */
option.option_title_dis { font-weight:bold; font-style:italic; }

/* homepage builder */
.section input.remove_button { margin:0 20px 0 0; top:0; right:0; cursor: pointer; color:#555555; background:url('../images/white_click.png') repeat-x; width:100px; height:30px; position:relative; border:1px solid #bbbbbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.section input.expand_button { margin:0 10px 0 0; top:0; right:0; cursor: pointer; color:#555555; background:url('../images/white_click.png') repeat-x; width:100px; height:30px; position:relative; border:1px solid #bbbbbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.drag-container-title { min-height:30px; }
.drag-container { display:none; width:100%; min-width:100%; border-top: 4px solid #d6d6d6; padding-top:25px; margin-top:30px; }
.itemtitleMain { padding-bottom: 15px; }
.itemtitleMain .itemTitle { width:12%; display:inline-block; font-weight:bold; text-align:left; }
.itemtitleMain  input.itemInput { width:87%; margin:0; }
.itemTitle { width:25%; display:inline-block; font-weight:bold; text-align:left; }
input.itemInput,select.itemInput { width:74%; margin:0; }
.last { margin-right:0!important; }
.upClass { position:relative; top:-5px; }
.span-desc { width:75%; display:inline-block; }
.add-testimonials { display:inline-block; width: 150px!important; top:0!important; }
.drag-container .col-1 { width:48%; margin:0 4% 0 0; display: block; float: left; }
.drag-container .col-disc { width:52%; display: block; float: left; }
.drag-container .col-check { width:44%; margin:0 4% 0 0; display: block; float: left; }
.full-width .col-1 { width:48%; margin:0 4% 0 0; display: block; float: left; }
.drag-container .col { width:100%; display: block; }
.margin-bottom { margin-bottom:20px; }
.test-title { display:block; float:left; width: 13%; font-weight:bold; padding-top: 4px; }
.test-input-text { display:block; float:left; width:68%; }
.testimonilas-value { height:25px; }
.test-input-button { display:block; float:left; width:20%; margin:0; top: -2px!important; }
.title-item { font-weight:bold; font-size:15px; height:30px; vertical-align: middle; display:table-cell; }
.builder-placeholder{ height:20px; width:740px; background: #f3f3f3; border:1px dashed #ddd; margin-bottom: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;} 
.not-visible { border-top: 4px solid #d6d6d6; padding-top:25px; margin-top:30px; float:left; width:100%; min-width:100%; }
.background-setting, .setting-box { width: 100%; border-top: 4px solid #d6d6d6; padding-top:25px; margin-top:30px; float:left; }
.setting-box { display:none; }
.titleBackground { width:100%; padding-bottom:20px; }
.background-select-parallax { margin:0 0 0 10px; width:200px;  }
.parallax-speed { text-align:center; }
.parallax-settigs { display:none; }
.radio_block { padding-bottom:10px; }
.radio_block:last-child { padding-bottom:0px; }
.colorInput { width:100px; }
.selectPicker { top:-4px!important; }
.colorPickerMain { margin-top:10px; display:none; width: 100%; min-width: 100%; }
.itemHiddenTitle { width:100%; display:block; font-weight:bold; text-align:left; padding-bottom:20px; }
.itemCountInput { width:80px; margin:0; text-align:center; }
.itemHiddenCelect, .itemInputText { width:100%; }
.itemTextarea  { width:100%; height:100px; resize: vertical; min-height:100px; }
.socialMediaList { margin:0; columns:100px 4; -webkit-columns:100px 4; -moz-columns:100px 4;}
.buttom_unit { border-top: 4px solid #D6D6D6; height:30px; padding-top:20px; padding-bottom:30px; width: 93%; margin:0 auto; }

/* Team */
.left-position { width:48%; display:inline-block; margin:20px 3% 20px 0; }
.title-item { width:100%; display:block; font-weight:bold; }
.title-main { width:100%; display:block; font-weight:bold; margin:30px 0; font-size: 15px; }
.desc-item { width:100%; display:block; padding-top:10px; color: #999999; }
.img-button { width:13%!important; position:relative; top:-1px; }
.full-width-item { width:100%; margin:20px 0; float: left; }
.member-desc { width:100%; height:160px; min-height:160px; resize: vertical; }
.inputWidth { width:84%; }

/* Contact */
.contact-checkbox { color:black; margin-bottom:12px; }
.contact-checkbox:last-child { margin-bottom:0; }

/* social media */
.add-element-input-1 { width:40%; display:inline-block; margin-right:-4px; }
.add-element-input-2{ width:60%; display:inline-block; position:relative; }
.add-element-input-2 label.item-desc { position:absolute; left:7px; top:4px; }

/* Elements */
.full-width-input { width:100%; }

/* full width elemt */
.full-width { float:left; width:100%; padding-right:40px; }
.padding-plus { padding-top:20px; }

.btn-plus-class { float:none!important; }
.mar { margin-right:27px; }

/* label inline cheked */
label.checkbox_form { display:inline-block; margin-right:20px; margin-bottom:20px; }

/* since 2.4 */
.drag-container .col-1.categories-source, .drag-container .col-1.product-source { display:none;}

/* since 2.7 */
.rev_set , .nivo_general_settings, .nivo_slides { display:none; }

/* Our Themes */
.theme-list:last-child { border-bottom:0 none; }
.theme-list .desc-wrapper { width:93%; padding:40px 0; display: block; border-top:4px solid #d6d6d6; margin:auto; position:relative; top:-3px;  border-bottom:1px solid #d6d6d6; }
.theme-list:last-child .desc-wrapper { border-bottom:0 none; }
.theme-list .ver { color: #FF3E00; padding-left:5px; }
.theme-list .theme-col { display: inline-block; margin-right: 30px; vertical-align: top; width: 338px; }
.theme-list .theme-col-img { display: inline-block; vertical-align: top; width: 376px; }
.theme-list .theme-col-img img { display: block; }
.theme-list  .theme-description b { display:block; padding:0 0 15px; font-size:15px; }
.theme-list  .theme-description { padding:0 0 20px; }
.theme-list  .theme-col a.button-theme { text-decoration:none; padding: 5px 0; text-align:center; margin:0 20px 0 0; cursor: pointer; color:#555555; float:left; background:url('../images/white_click.png') repeat-x; width:100px; position:relative; border:1px solid #bbbbbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.cuckoo_update_count_theme { background-color: #FF3E00;  border-radius: 15px 15px 15px 15px; color: white !important; font-size: 12px !important; padding: 3px 10px !important; text-shadow: none !important; }